<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :askedquestion %><br/>
    <%= f.text_field :askedquestion %>
  </div>

  <div class="field">
    <%= f.label :useranswer %><br/>
    <%= f.text_field :useranswer %>
  </div>

  <div class="field">
    <%= f.label :rightanswer %><br/>
    <%= f.text_field :rightanswer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
