<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th>Question</th>
      <th><%= model_class.human_attribute_name(:askedquestion) %></th>
      <th><%= model_class.human_attribute_name(:useranswer) %></th>
      <th><%= model_class.human_attribute_name(:correct) %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.where(:user_id => current_user).each do |question| %>
      <tr>
        <td><b><%= question.level %></b></td>
        <td><b><%= question.question_number %></b></td>
        <td><b><%= question.askedquestion %> = <%= question.rightanswer %></b></td>
        <td><b><%= question.useranswer %></b></td>
        <td><b><%= question.correct %></b></td>
      </tr>
    <% end %>
  </tbody>
</table>
