<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th>Question</th>
      <th><%= model_class.human_attribute_name(:askedquestion) %></th>
      <th><%= model_class.human_attribute_name(:useranswer) %></th>
      <th><%= model_class.human_attribute_name(:correct) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.where(:user_id => current_user).each do |question| %>
      <tr>
        <td><b><%= question.level %></b></td>
        <td><b><%= question.question_number %></b></td>
        <td><b><%= question.askedquestion %> = <%= question.rightanswer %></b></td>
        <td><b><%= question.useranswer %></b></td>
        <td><b><%= question.correct %></b></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_question_path(question), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
